*{
  margin:0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #000000;
  font-family: 'Acme', sans-serif;
  color: white;
}
/* nav bar styling */
.navbar{
  margin:20px 10px 20px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100px;

}
.top-word{
  color: white;
  font-size: 33px;
  padding-top: 8px;
  cursor: pointer;
  transition: 0.4s ease;

}
.top-word:hover{
  transform: translateX(10px);
}
span{
  color: #F14668;


}

.navbar ul li{
  /*margin-top: 10px;*/
  display: inline-block;
  width: auto;
  list-style-type: none;
  padding: 10px 25px;

}
.navbar ul li a{
    display: block;

    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    text-transform:uppercase;
    transition: transform .4s ;

}
.navbar ul li:last-child a{
    display: block;
    background-color: #F14668;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    text-transform:uppercase;
    border-radius: 30px;
    transition: transform 0.4s ;

}
.navbar ul li a:hover{
  color: #F14668;
  transform: scale(1.1);
  transform: translateY(3px);

}
.navbar ul li a:{
  color: #F14668;

}
 .navbar ul li:last-child a:hover{
  color: black;
  transition: 0.4s ease;
  transform: translateY(3px);
  transform: scale(1.3);

}
/* section-1 styling */
.first-section{
  height: 100vh;
  width: auto;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3D%2522hacking%2Bbackground%2522&psig=AOvVaw04KqtBIby6b4jeZ0NjfwUD&ust=1672063055406000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCNCkzbX2lPwCFQAAAAAdAAAAABAE");
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  margin-right: 40px;
  margin-bottom: 100px;

}
.intro{

  letter-spacing: 1;
  line-height: 2;
  flex: 0.5;
}
#one{
   margin: 10px 20px;
   font-size: 65px;;
}
#two,p{

  font-size: 25px;
}

.btn-1 form{
  position: relative;
  width: 450px;
  max-width: 100%;
}

.input-1{
  width: 80%;
  border: 2px solid;
  outline: none;
  border-radius: 30px;
  padding:14px 130px 14px 14px;
  display:inline-block;
}
.button{
  padding: 13.5px 15px 13px 15px ;
  background-color: #F14668;
  color: #000000;
  cursor: pointer;
  position: absolute;
  outline: none;
  border: none;
  color: white;
  top: 2.9px;
  right: 93.5px;
  border-radius: 30px;
  display: inline-block;

}
.button:hover{
  background-color: black;
  color:#F14668;
  font-weight: bold;
  transform: scale(1);


}
/* second section */
.second-section {
  display: flex;
  width:auto;
  padding-top: 10px;
  height: 100vh;
  background-color:#0f0f0f;
  align-items: center;
}
.second-section h1{
  color:#F14668;
  padding-bottom: 30px;

}
.second-section p{
  color: #fcfc;
  font-size: 20px;
}
.second-section h3{
  font-size: 24px;
  padding-bottom: 30px;

}
.second-section span{
  color:#F14668;
}
.second-section img{
  width: 27%;
  height: 60%;
  margin-left: 180px;
  margin-right: 20px;

  border-radius: 50%;
}
.second-section .content-one{
  float: right;
  width:60%;
  text-align: left;
  text-rendering: auto;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-right: 80px;
  padding-left: 60px;

}
/* section 3 styling */
.section-three{
  padding: 50px 0px;
  width: auto;
  height: 100vh;
}
.section-three h1{
  text-align: center;
  margin: 30px auto;
  letter-spacing: 5px;
}
.boxes{
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  background-color: #191919 ;
  width: 25%;
  height: 80%;
  margin: 20px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  padding: 20px 20px 30px 20px;
}
.box i{
  margin: 10px;
  font-size: 50px;
  color: #f9004d;
  font-weight: bold;
}
.box h1{
  font-size: 27px;
  letter-spacing: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.box p{
  color: #fcfc;
  font-size:22px;

}
.box button{
  background-color: #f9004d;
  border-radius: 30px;
  margin-top: 20px;
  padding:5px;
  width: 100px;
  color: white;
  cursor: pointer;
  transition: transform 0.4 ease;
}
.box button:hover{
  background-color: black;
  color: white;
  border: 2px solid #f9004d;
  transform: scale(1.2);
}
/* section 4*/
.section-four h1{
  text-align: center;
  margin: 30px auto;
  letter-spacing: 5px;
}
.section-four{
  padding: 50px 0px;
  width: auto;
  height: 100vh;
  background-color:#0f0f0f;

}
.skills-bar{
  width: 600px;
  height: auto;
  margin: auto;
}


.skills-bar .info span{
  color: white;
  margin-bottom: 10px;
  position: relative;
  margin: auto;
}


.skills-bar .bar{
  padding: 10px;
  padding-top: 23px;

}
.skills-bar .progress-line{
  width: 80%;
  height: 20px;
  margin-top: 20px;
  background-color: black;
  position: relative;
  border-radius: 30px;

}
.skills-bar .progress-line .html{
  height: 100%;
  background-color: #f9004d;
  position: absolute;
  width: 90%;
  border-radius: 30px;
  text-align: right;
  color: white;
  font-weight: bold;
  padding-right: 5px;
}
.skills-bar .progress-line .css{
  height: 100%;
  background-color: #f9004d;
  position: absolute;
  width: 70%;
  border-radius: 30px;
  text-align: right;
  color: white;
  font-weight: bold;
  padding-right: 5px;
}
.skills-bar .progress-line .javascript{
  height: 100%;
  background-color: #f9004d;
  position: absolute;
  width: 50%;
  border-radius: 30px;
  text-align: right;
  color: white;
  font-weight: bold;
  padding-right: 5px;
}
.skills-bar .progress-line .python{
  height: 100%;
  background-color: #f9004d;
  position: absolute;
  width: 90%;
  border-radius: 30px;
  text-align: right;
  color: white;
  font-weight: bold;
  padding-right: 5px;
}
.skills-bar .progress-line .java{
  height: 100%;
  background-color: #f9004d;
  position: absolute;
  width: 80%;
  border-radius: 30px;
  text-align: right;
  color: white;
  font-weight: bold;
  padding-right: 5px;
}
/* Section 5 */
.section-five{
  height: 40vh;
  background-color: black;
  text-align: center;
  padding-top: 50px;
}
.section-five h1{
  margin: 30px;
}
.section-five button{
  background-color: #f9004d;
  border-radius: 30px;
  height: 50px;
  width: 100px;
  color: white;
  padding: 5px 10px ;
  cursor: pointer;
  transition: transform 0.4s linear;
  font-size: 20px;
  font-weight: bold;

}
.section-five button:hover{
  background-color: black;
  border: 2px solid #f9004d;
  transform: scale(1.2);


}
.footer{
  display: flex;
  position: relative;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color:#191919;
}
.footer h1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer .social{
  display: flex;

}
.footer .social a{
  display: flex;
  text-align: center;
  transition: transform 0.4s ease;
  font-size: 18px;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  background-color:#f9004d;
  padding: 10px ;
  color: white;
  position: relative;
  margin: 20px;
  border: 2px solid black;
}
.footer a:hover{

  transform: scale(1.2);
}
.footer .end{
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
  letter-spacing: 1.5px;
}
